<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGHbV_hKrc_RhVp1EQg14LJxyzNlv_B3g</string>
	<key>GCM_SENDER_ID</key>
	<string>1025283785708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectManager</string>
	<key>PROJECT_ID</key>
	<string>project-manager-7474f</string>
	<key>STORAGE_BUCKET</key>
	<string>project-manager-7474f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025283785708:ios:42362164757fca29c1b6c9</string>
</dict>
</plist>